body, html{
  font-family:'Muli',sans-serif;
  height:100%;
  margin:0;
}
h2,h3{
  text-align:center;
}
img{
  display:block;
  max-width:600px;
  margin:auto;
  padding:5px;
}
sup {
  vertical-align:super;
  font-size:smaller;
}
div.content-container{
  min-height:100vh;
}
div.content{
  padding-top:8%;
}
div.content div.text-container{
  width:75%;
  margin:auto;
}
div.content div.text-container p, div.content div.text-container div.indent{
  text-align:justify;
  margin:auto;
}
span.indent, div.content div.text-container{
  text-indent:5%;
}
div.btns{
  width:100%;
}
