<img src="http://www.fruithat.org/img4" />
<div class="indent">In an interview with Mustang News, the former Executive Director of University Diversity and Inclusion cited an inability of her organization to effectively impact diversity at an institutional level as reason for her resignation.<sup>6</sup>
This is an unfortunate reality that plagues many schools across the United States.</div>

<div class="indent">As is pointed out by Nadia Ward in an article for Urban Education, however, poverty remains “inextricably linked” to minority achievement outcomes and educational attainment.<sup>7</sup>
This being the case, it comes as no surprise to learn that, for many minority communities in the United States, enrollment in postsecondary education is often directly impacted by the availability of financial aid.<sup>8</sup>
Moreover, it has generally been shown that rates of persistence are higher for those receiving grants as opposed to loans, especially as they pertain to low-income and minority students.<sup>9</sup></div>

<div class="indent">Less frequently discussed, however, is the importance of parental education with regards to higher education.<sup>10</sup>
In fact, research demonstrates improvements in academic engagement and long-term educational outcomes for low-income and minority students are improved through providing such parents with information regarding academic course content, college selection, and financial aid.<sup>11</sup></div>

<div class="indent">Accordingly, I propose the following policy measures be taken by Cal Poly to improve diversity at the institution:</div><br/>

<h3>Increase need-based grant and scholarship funding</h3>
<div class="indent">Due to the aforementioned impact of financial aid availability on student achievement outcomes, Cal Poly should seek to create a need-based grant to better serve the financial needs of its most vulnerable students.
Of course, it’s one thing to suggest an increase in Grant and Scholarship funding, but to actually implement such a program requires dedicated funding, which the over-enrolled Cal Poly may appear unable to provide, at least to the casual observer.
However, such is not the case; according to financial data compiled by Internet compensation database, Payscale, Cal Poly ranks 43rd amongst some 1800 schools for 20-year net return on investment (ROI) for out-of-state students (for in-state students, this number was 23).<sup>12</sup>
To put this rank in perspective, Cal Poly’s average out-of-state student ROI is roughly equivalent to that of the Ivy League school, Duke University.<sup>13</sup>
With a ROI of such high magnitude, it is ridiculous to believe that Cal Poly is strapped for funds, considering the enormous potential for endowments from well-to-do Cal Poly alumni.
Of course, it would be similarly ridiculous to expect Cal Poly to curate an endowment fund that is anywhere near comparable with Duke’s privately-funded $7.9 billion endowment.
Nonetheless, Cal Poly’s endowment should seek to increase its revenue from private contributions and donations, and use such funds to finance need-based scholarship opportunities available to students.</div><br/>

<h3>Establish a program to directly educate and inform parents about college</h3>
<div class="indent">Equally important with regards to improving diversity is the implementation of a program that educates parents of students in traditionally underserved schools and districts on how to best support a college-bound student, through information sessions that inform parents about the availability of financial aid and grants, the importance of college selection, the college admissions process, and general admissions requirements for university.
Direct outreach on the part of Cal Poly has the potential not only to benefit the traditionally underserved schools/districts as a whole, but also to highlight the affordability of Cal Poly as an institution.</div>
