<img src="http://www.fruithat.org/img" />
<span class="indent"><p>For a school that touts diversity as a core principle, one might be shocked to discover that California Polytechnic State University, San Luis Obispo has a disproportionately white (non-Hispanic) campus.
In fact, according to a statistic published by Cal Poly’s Office of University Diversity and Inclusion, Cal Poly’s student population is demographically consisted of 58.6 percent white (non-Hispanic) students, with the next largest single demographic group being Hispanic/Latinx at 15.2 percent.
Applying the USA Today Index of Ethnic Diversity’s methodology to Cal Poly’s demographic consistency,<sup>1</sup>  one finds Cal Poly’s score to be 0.57.<sup>2</sup></p></span><br />

<span class="indent"><p>The reasoning behind this score is multifaceted, but, nonetheless, demonstrates specific failures across three distinct levels of perspective: on a national level, through the rising cost of higher education; at the state level, through California’s Proposition 209; and, institutionally, through a lack of programs designed to effectively combat the effect of poverty on educational outcomes.</p></span><br />

<span class="indent"><p>However, this whole topic begs the question, “does diversity in higher education have any measurable benefits?”
Practically speaking, the short answer to this question is yes because we live in a diverse, multicultural country on a diverse, multicultural planet, thus creating a need for a labor-force that can adapt to such conditions.
Further, there is an expansive body of literature that speaks directly to the benefits of racial and religious diversity in higher education with regards to individuals (students and faculty alike), the educational institution as a whole, and the society at large.<sup>3</sup>
Sylvia Hurtado goes even further still, detailing the practical applications of dialogue, social critique, and experiential learning, as they relate to diversity in higher education.<sup>4</sup>
The most obvious (and most often overlooked in analyses of diversity in higher education) benefit, however, is the increased social mobility provided to those from traditionally underserved communities by a university degree.<sup>5</sup>
This being the case, the importance of diversity in higher education cannot be understated.</p></span><br />

<span class="indent"><p>The following pages are dedicated to detailing the specific issues limiting diversity at Cal Poly, as well as policy suggestions to remedy each.
I approach this from three levels of analysis: firstly, from an institutional level; next, from the State level; and, finally, from the Federal level.
Click on the links in the Navigation Bar above or click next to continue on!</p></span>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
