<img src="http://www.fruithat.org/img3" />
<div class="indent">As any college student readily knows, one of the direst crises facing the United States is the rising cost of higher education.
This trend places an especially heavy burden on students from traditionally underserved communities and low-income students.<sup>20</sup>
Compounding this issue, Federal Financial Aid has not risen to meet the increasingly large tuition cost; according to a report published by the College Board in 2017, while average tuition at four-year institutions increased by $730 between the 2012-13 and 2017-18 academic years, Federal Aid only increased by 7 percent.<sup>21</sup></div>

<div class="indent">Accordingly, I propose the following policy measure:</div><br/>
<h3>Increase Federal Student Aid to account for tuition increases</h3>
<div class="indent">Given the sensitivity of minority and low-income students to price increases at institutions of higher education, Federal Student Aid must increase to offset increases in tuition.
Without such increases in Student Aid, college will remain to be unaffordable for many within the United States.</div>
