<img src="http://www.fruithat.org/img2" />
<div class="indent">At the State level, the issues limiting diversity become more obvious.
In California, diversity at institutions of higher education is limited primarily by the state’s Constitution itself.
Following the passage of Proposition 209 in 1996, California constitutionally prohibits the implementation of affirmative action policies that would otherwise improve the ethnic diversity of California’s institutions of higher education.<sup>14</sup>
Case in point, in the two years following the passage of Proposition 209, minority college acceptance rates plummeted in California; according to the Tomás Rivera Policy Institute of the University of Southern California, acceptance rates for African Americans declined an average of 20 percentage points across the eight University of California campuses between 1997 and 2002.<sup>15</sup>
For Latino students, acceptance rates to the same institutions decreased 16 percentage points across the same dates.<sup>16</sup>
Were California to abide simply by Federal requirements for admissions criteria, educational institutions would still be prohibited from discriminatory admissions practices, but would be able to use ethnicity as an admissions factor, as set forth in Regents of the University of California v. Bakke (1978),<sup>17</sup>  Gratz v. Bollinger (2003),<sup>18</sup>  and Fisher v. University of Texas (2016).<sup>19</sup></div>

<div class="indent">Accordingly, I propose that the following measure be taken by the State of California to improve diversity across California institutions of higher education:</div><br/>

<h3>Repeal Article I § 31 of the California Constitution</h3>
<div class="indent">Essential to improving diversity at college campuses across California is the repeal of the Article I, Section 31 of the California State Constitution.
Given the decreases in minority enrollment following the passage of Proposition 209, it should be clear that California’s prohibition on affirmative action has limited the diversity of educational institutions in the state.
As such, its repeal is necessary to increasing minority student representation on college campuses in California.</div>
